# General stuff
*~
*.swp

# LaTeX stuff
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.maf
*.mtc
*.mtc0
*.out
*.pdf
*.toc
*.tdo
*.eps

# Hardware files
*.bak
*.dcm
*.ps
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.bak
*.fped
*.fpd
*autosave-*.kicad_pcb
log.txt

# Software files
*.hex
*.elf
*.lst
*.sym
*_bak
test/

# Media files
*.avi

# MATLAB
slprj/
